.releases-info-title,
.releases-info-title-link {
  font-weight: 500;
  font-size: 22px;
  margin: 40px 0;
  display: block;
  transition: .7s;
}

.releases-info-title-link {
  text-decoration: none;

  &:hover {
    color: $purple !important;
  }
}

.releases-info-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & .releases-info-item:not(:last-of-type) {
    /*margin-bottom: 15px;*/
  }
}

.releases-info-item {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.releases-info-link {

  text-decoration: none;
}

.version-history-wrapper {
  border-radius: 3px;
  padding: 25px 15px;
  transition: .7s;
}

.version-history-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 900;
  transition: .7s;
}

.version-history-date {
  font-size: 12px;
  display: flex;
  transition: .7s;
}

.version-history-copy-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  transition: .7s;
}

.version-history-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  transition: .7s;
}

.version-history-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version-history-details {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: 15px;
  line-height: 20PX;
  padding-bottom: 20px;
  transition: border-bottom-color .7s;
}

.features-list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.features-item {
  display: flex;
}

.features-list-title {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1px;
  width: auto;
  height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 0 10px;
  align-items: flex-end;
  &--new {
    background-color: $green;
    color: $white;
  }

  &--improved {
    background-color: #00BFB2;
    color: $white;
  }
}

.features-item:not(:last-child) {
  margin-bottom: 10px;
}

.feature-item-icon {
  width: 15px;
  height: 15px;
  fill: $lightBluishGrey;
  margin-bottom: 2px;
  margin-top: 2px;
}

.features-item-text {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  margin-left: 10px;
  width: 90%;
}
