@import './variables';
@import './releases-info';
@import '~react-perfect-scrollbar/dist/css/styles.min.css';
@import '~react-toastify/dist/ReactToastify.min.css';
* {
   font-family: 'Roboto', sans-serif;
}

body {
   background-color: $lightBlack;
}

.wrapper {
   width: 350px;
   height: auto;
   margin: 0 auto;
}

.header {
   margin: 40px 0;

   &__logo {
      display: inline-block;
      font-size: 36px;
      color: $white;
      font-weight: 900;
      text-decoration: none;

      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
         text-decoration: inherit !important;
      }

      & h1 {
         margin: 0;
         padding: 0;
         font-size: inherit;
         font-weight: inherit;
      }
   }

   &__link {
      font-size: 12px;
      color: $lightBluishGrey;
      font-style: italic;
      font-weight: 500;
      text-decoration: none;
      display: block;
      margin: -7px 0 0 10px;

      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
         text-decoration: inherit !important;
      }
   }
}

.add-todo {
   margin-top: 15px;
   height: 50px;
   display: flex;
   flex-direction: column;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }
   &__input {
      background-color: $darkBlack;
      outline: none;
      border: none;
      height: 100%;
      width: 285px;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      padding: 15px;
      border-radius: 3px;
      &:focus,
      &:active {
         text-decoration: inherit !important;
         outline: none;
      }
      &::-webkit-input-placeholder {
         /* WebKit, Blink, Edge */
         color: #ffffff;
      }
      &:-moz-placeholder {
         /* Mozilla Firefox 4 to 18 */
         color: #ffffff;
         opacity: 1;
      }
      &::-moz-placeholder {
         /* Mozilla Firefox 19+ */
         color: #ffffff;
         opacity: 1;
      }
      &:-ms-input-placeholder {
         /* Internet Explorer 10-11 */
         color: #ffffff;
      }
      &::-ms-input-placeholder {
         /* Microsoft Edge */
         color: #ffffff;
      }

      &::placeholder {
         /* Most modern browsers support this now. */
         color: #ffffff;
      }
   }
   &__error {
      color: $red;
      font-size: 12px;
      font-style: italic;
      margin-left: 15px;
      margin-top: 7px;
      margin-bottom: 7px;
   }
   &__button {
      background-color: $purple;
      width: 50px;
      height: 100%;
      outline: none;
      border: none;
      color: $white;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 3px;
      &:disabled {
         background-color: lighten($lightBlack, 10);
         cursor: auto;
         color: darken($lightBlack, 10);
      }
   }
   &--error {
      margin-bottom: 31px;
   }
}
.navigation {
   display: flex;
   margin: 15px 0 0;
   &__list {
      list-style: none;
      margin: 0;
      padding: 0;
   }
   &__item {
      display: inline;
      margin-right: 10px;
      &--active {
      }
   }
   &__link {
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      color: $lightBluishGrey;
      &--active {
         color: $purple;
      }
   }
}
.todo-list {
   width: 100%;
   background-color: $darkBlack;
   margin: 0;
   padding: 15px;
   border-radius: 3px;
   list-style: none;
   .item {
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
         border-bottom: 2px solid $lightBlack;
      }
      &__icon {
         cursor: pointer;
         transition: all 0.2s;
         &--check-on {
            fill: $green;
            &:hover {
               fill: darken($green, 10);
            }
         }
         &--check-off {
            fill: $lightBluishGrey;
            &:hover {
               fill: darken($lightBluishGrey, 10);
            }
         }
         &--edit-on {
            fill: $yellow;
            &:hover {
               fill: darken($yellow, 10);
            }
         }
         &--edit-off {
            fill: $lightBluishGrey;
            &:hover {
               fill: darken($lightBluishGrey, 10);
            }
         }
         &--delete {
            fill: $lightBluishGrey;
            &:hover {
               fill: darken($lightBluishGrey, 10);
            }
         }
      }
      &__input {
         width: 243px;
         height: 40px;
         border: none;
         outline: none;
         font-size: 16px;
         color: $white;
         font-weight: 500;
         padding: 0 10px;
         background-color: $lightBlack;
         &:disabled {
            cursor: auto;
            background-color: $darkBlack;
         }
         &[readonly] {
            background-color: $darkBlack;
         }
      }
   }
   .msg {
      display: flex;
      align-items: center;
      height: 65px;
      &__icon {
         color: $yellow;
         width: 20px;
         height: 20px;
         margin-right: 10px;
      }
      &__text {
         color: $yellow;
         font-size: 14px;
         font-style: italic;
         font-weight: 300;
      }
   }
}
.todo-wrapper--scroll {
   height: 500px;
   margin-top: 15px;
}
.ps__thumb-y {
   background-color: darken($darkBlack, 4);
}
