@import './variables';
@import './releases-info';
@import './modal';
@import './toggleTheme';
@import '~react-perfect-scrollbar/dist/css/styles.min.css';
@import '~react-toastify/dist/ReactToastify.min.css';
* {
   font-family: 'Roboto', sans-serif;
}

body {
   transition: 0.7s;
}

.wrapper {
   width: 350px;
   height: auto;
   margin: 0 auto;
}

.header {
   margin: 40px 0;
   display: flex;
   justify-content: space-between;
   &__logo {
      display: inline-block;
      font-size: 36px;
      color: $white;
      font-weight: 900;
      text-decoration: none;

      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
         text-decoration: inherit !important;
      }

      & h1 {
         margin: 0;
         padding: 0;
         font-size: inherit;
         font-weight: inherit;
         transition: 0.7s;
      }
   }

   &__link {
      font-size: 12px;
      transition: 0.7s;
      font-style: italic;
      font-weight: 500;
      text-decoration: none;
      display: block;
      margin: -7px 0 0 10px;

      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
         text-decoration: inherit !important;
      }
   }
}

.add-todo {
   margin-top: 15px;
   height: 50px;
   display: flex;
   flex-direction: column;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }
   &__input {
      outline: none;
      border: none;
      height: 100%;
      width: 285px;
      font-size: 14px;
      font-weight: 500;
      padding: 15px;
      border-radius: 3px;
      transition: 0.7s;
      &:focus,
      &:active {
         text-decoration: inherit !important;
         outline: none;
      }
   }
   &__error {
      color: $red;
      font-size: 12px;
      font-style: italic;
      margin-left: 15px;
      margin-top: 7px;
      margin-bottom: 7px;
      height: 10px;
   }
   &__button {
      width: 50px;
      height: 100%;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.7s;
      &:disabled {
         cursor: auto;
      }
   }
   &--error {
      margin-bottom: 31px;
   }
}
.navigation {
   display: flex;
   margin: 15px 0 0;

   align-items: center;
   height: auto;
   flex-direction: column;
   .row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &--search {
         /*height: 65px;*/
         margin-top: 15px;
      }
   }
   &__list {
      list-style: none;
      margin: 0;
      padding: 0;
   }
   &__item {
      display: inline;
      margin-right: 10px;
      &--active {
      }
   }
   &__link {
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      transition: 0.7s;
   }
}
.search-btn {
   display: flex;
   cursor: pointer;
   background-color: transparent;
   justify-content: space-between;
   align-items: center;
   width: 85px;
   padding: 0 7px 0 12px;
   height: 25px;
   border-radius: 2px;
   border: 1px solid transparent;
   box-sizing: border-box;
   transition: 0.7s;
   &__text {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      transition: 0.7s;
   }
   &__icon {
      width: 12px;
      height: 12px;
      transition: 0.7s;
   }
   &--open {
      .search-btn__text {
         font-weight: 500;
      }
   }
}
.search-box {
   width: 100%;
   padding: 15px;
   border-radius: 3px;
   transition: 0.7s;
}
.search-input {
   position: relative;
   input {
      width: 100%;
      height: 40px;
      outline: none;
      border: none;
      font-size: 16px;
      transition: 0.7s;
   }
   &__icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
   }
}

.todo-list {
   width: 100%;
   margin: 0;
   padding: 15px;
   border-radius: 3px;
   list-style: none;
   transition: 0.7s;
   .item {
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.7s;
      &:not(:last-child) {
         border-bottom: 2px solid transparent;
      }
      &:hover .item__icon--edit-off,
      &:hover .item__icon--delete {
         opacity: 1;
         pointer-events: auto;
      }
      &__icon {
         cursor: pointer;
         transition: all 0.2s;

         &--check-on {
            fill: $green;
            &:hover {
               fill: darken($green, 10);
            }
         }
         &--check-off {
            fill: $lightBluishGrey;
            &:hover {
               fill: darken($lightBluishGrey, 10);
            }
         }
         &--edit-on {
            fill: $yellow;
            &:hover {
               fill: darken($yellow, 10);
            }
         }
         &--edit-off {
            pointer-events: none;
            opacity: 0;
            transition: 0.5s;
            fill: $lightBluishGrey;
            &:hover {
               fill: $yellow;
            }
         }
         &--delete {
            transition: 0.5s;
            pointer-events: none;
            opacity: 0;
            fill: $lightBluishGrey;
            &:hover {
               fill: $red;
            }
         }
      }
      &__input {
         width: 243px;
         height: 40px;
         border: none;
         outline: none;
         font-size: 16px;
         font-weight: 500;
         padding: 0 10px;
         transition: 0.7s;
         &:disabled {
            cursor: auto;
         }
         &[readonly] {
            cursor: pointer;
         }
      }
   }
   .msg {
      display: flex;
      align-items: center;
      height: 65px;
      &__icon {
         color: $yellow;
         width: 20px;
         height: 20px;
         margin-right: 10px;
      }
      &__text {
         color: $yellow;
         font-size: 14px;
         font-style: italic;
         font-weight: 300;
      }
   }
}
.todo-wrapper--scroll {
   height: 371px;
   margin-top: 15px;
   border-radius: 3px;
}
.ps__thumb-y {
   background-color: darken($darkBlack, 4);
}

@import 'themeLight';
@import 'themeDark';
